<div class="pop-up-back">
<div class="centering-wrapper">
  <div class="block">
  <div class="form-wrapper">
    <form id="form-add-user">
      {{{ inputUserName }}}
      {{{ formError }}}
      <div class="btns-wrapper-horizontal">
        {{{ buttonCancel }}}
        {{{ buttonCreate }}}
      </div>
    </form>
  </div>
  </div>
</div>
</div>