<main>
{{#> CenteringWrapper}}
  <h1>Вход в КосмоЧат</h1>
  <div class="form-wrapper">
    <form>
      {{> Input type="text" name="login" label="Логин" id="login" required=true}}
      {{> Input type="password" name="password" label="Пароль" id="password" required=true}}
      {{> Button type="submit" text="Войти"}}
      <a href="/signup">Создать аккаунт</a>
    </form>
  </div>
{{/ CenteringWrapper}}
</main>
