<main>
<div class="centering-wrapper">
  <div class="block">
  <h1>Вход в КосмоЧат</h1>
  <div class="form-wrapper">
    <form>
      {{{ inputLogin }}}
      {{{ inputPassword }}}
      {{{ button }}}
      <a href="/signup">Создать аккаунт</a>
    </form>
  </div>
  </div>
</div>
</main>
