<div id="chat-menu">
  <ul>
    <li>
      {{{buttonAddUser}}}
    </li>
    <li>
      {{{buttonRemoveUser}}}
    </li>
    <li>
      {{{buttonRenameChat}}}
    </li>
    <li>
      {{{buttonDeleteChat}}}
    </li>
  </ul>
</div>