<main class="chat-wrapper">
  <div class="sidebar-chat">
    <div class="sidebar-header">
      <a class="link-to-profile" href="/settings">A</a>
      {{{searchBar}}}
    </div>
    <div class="chats-list">
      {{{chatitem}}}
    </div>
    <button class="btn-create-chat">
      <img src="/pen.svg" alt="">
    </button>
  </div>
  <div class="chat-window-wrapper">
    <div>
      <img src="/astronaut.svg" alt="" style="width: 100px">
      <span>Выберите чат</span>
    </div>
  </div>
</main>
