<main class="chat-wrapper">
  <div class="sidebar-chat">
    <div class="sidebar-header">
      {{{buttonLinkToProfile}}}
      {{{searchBar}}}
    </div>
    <div class="chats-list">
    </div>
    {{{buttonCreateChat}}}
  </div>
  <div class="chat-window-wrapper">
    {{#unless currentChat}}
    <div>
      <img src="/astronaut.svg" alt="" style="width: 100px">
      <span>Выберите чат</span>
    </div>
    {{/unless}}
  </div>
  {{{createChat}}}
</main>
