<div class="chat-item-wrapper">
  <div class="avatar">
    <img src="/avatar.svg" alt="">
  </div>
  <div class="chat-info">
    <div class="chat-info-header">
      <span class="chat-name">
        {{name}}
      </span>
      <div class="chat-time">
        {{timeStamp}}
      </div>
    </div>
    <div class="last-msg">
      {{lastMessage}}
    </div>

  </div>
</div>