<ul>
  <li><a href="/">Главная</a></li>
  <li><a href="/pages/login/">Авторизация</a></li>
  <li><a href="/pages/signup/">Регистрация</a></li>
  <li><a href="/pages/chat/">Чат</a></li>
  <li><a href="/pages/profile/">Профиль</a></li>
  <li><a href="/pages/404/">404</a></li>
  <li><a href="/pages/500/">500</a></li>
</ul>