<div class="pop-up-back">
<div class="centering-wrapper">
  <div class="block">
  <div class="form-wrapper">
    <form id="form-delete-chat">
      <p>Вы точно хотите удалить чат?</p>
      <div class="btns-wrapper-horizontal">
        {{{ buttonCancel }}}
        {{{ buttonDelete }}}
      </div>
    </form>
  </div>
  </div>
</div>
</div>